Repository gierens/wikijs-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, fuse, tests, dependency, ci

docs(readme): add part regarding commits to contributing section
  README.md
Labels: none

feat(cli): add folder_id as positional argument to asset list command
  src/cli/asset.rs
Labels: cli

refactor(lib): rename AssetListItem to AssetItem
  src/lib/asset.rs
  src/lib/lib.rs
Labels: lib

feat(cli): add page tree command
  src/cli/page.rs
Labels: cli

chore(cargo): change crate version to 0.1.0
  Cargo.toml
Labels: dependency

docs(readme): add another warning regarding refactoring of fuse
  README.md
Labels: none

docs(readme): fix branch name in logo link
  README.md
Labels: none

style(logo): increase size of small logo a bit
  logo/logo-small.png
Labels: none

docs(lib): add logo and favicon to documentation
  src/lib/lib.rs
Labels: lib

chore(cargo): fix license name in Cargo.toml
  Cargo.toml
Labels: dependency

docs(readme): remove license badge for now, as it shows the wrong one
  README.md
Labels: none

docs(readme): add license badge again
  README.md
Labels: none

docs(readme): add license section to readme
  README.md
Labels: none

docs(readme): add testing section to readme
  README.md
Labels: none

docs(readme): correct testing section
  README.md
Labels: none

docs(readme): add more information to testing section
  README.md
Labels: none

docs(readme): fix missing newline after listing
  README.md
Labels: none

docs(readme): fix typo in readme
  README.md
Labels: none

docs(readme): fix typos
  README.md
Labels: none

docs(lib): add front page to rust docs
  src/lib/lib.rs
Labels: lib

docs(lib): add comments to all modules
  src/lib/lib.rs
Labels: lib

fix(lib): fix typo in argument name of page_get_by_path
  src/lib/lib.rs
Labels: lib

docs(lib): add docstrings to all Api functions
  src/lib/lib.rs
Labels: lib

chore(cargo): bump crate to version 0.1.1
  Cargo.toml
Labels: dependency

fix(ci): add main branch limit to linting and testing workflows
  .github/workflows/linting.yml
  .github/workflows/testing.yml
Labels: ci

feat(build): add cargo deps and build.rs for mangen poc
  Cargo.toml
  build.rs
Labels: dependency

feat(scripts): add deb packaging script
  scripts/deb_package.sh
Labels: none

feat(git): add *.deb to .gitignore
  .gitignore
Labels: none

feat(pkg): add deb.asc for deb repo verification
  deb.asc
Labels: none

docs(readme): add installation instructions for cargo and debian/ubuntu
  README.md
Labels: none

docs(readme): revise install instructions for CLI
  README.md
Labels: none

docs(readme): add aur url to readme
  README.md
Labels: none

feat(cargo): add vendored-tls feature
  Cargo.toml
Labels: dependency

fix(scripts): add vendored-tls feature to deb package build command
  scripts/deb_package.sh
Labels: none

refactor(scripts): simplify license inclusion in deb packaging script
  scripts/deb_package.sh
Labels: none

docs(readme): add link to wiki.js page to title line
  README.md
Labels: none

fix(cli): fix version of cli
  src/cli/main.rs
Labels: cli

chore(cspell): add more words coc cspell dictionary
  .vim/coc-settings.json
Labels: none

fix(scripts): change build target to musl in deb packaging script
  scripts/deb_package.sh
Labels: none

docs(readme): fix typo in testing section
  README.md
Labels: none

.github/labeler.yml:

"lib":
  - src/lib/*

"cli":
  - src/cli/*

"fuse":
  - src/fuse/*

"tests":
  - tests/*

"dependency":
  - Cargo.*

"ci":
  - .github/**/*
