Repository gierens/wikijs-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, fuse, tests, dependency, ci

.github/labeler.yml:

"lib":
  - src/lib/*

"cli":
  - src/cli/*

"fuse":
  - src/fuse/*

"tests":
  - tests/*

"dependency":
  - Cargo.*

"ci":
  - .github/**/*

docs(readme): add paragraph about password authentication with cli
  README.md
Labels: none

style(cli): fix rustfmt issues
  src/cli/authentication.rs
  src/cli/main.rs
Labels: cli

chore(cargo): update version 0.2.0 in Cargo.toml
  Cargo.toml
Labels: dependency

chore(cli): update version in parser to 0.2.0
  src/cli/main.rs
Labels: cli

docs(readme): update version to 0.2 in library usage section
  README.md
Labels: none

chore(ci): update label workflow to version 5
  .github/workflows/label.yml
Labels: ci
