Repository gierens/wikijs-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, fuse, tests, dependency, ci

feat(cli): add user create command
  src/cli/user.rs
Labels: cli

feat(cli): add user activate command
  src/cli/user.rs
Labels: cli

feat(cli): add user deactivate command
  src/cli/user.rs
Labels: cli

feat(cli): add user delete command
  src/cli/user.rs
Labels: cli

feat(cli): add user tfa command
  src/cli/user.rs
Labels: cli

feat(cli): add user verify command
  src/cli/user.rs
Labels: cli

feat(cli): add user search command
  src/cli/user.rs
Labels: cli

feat(cli): add user profile command
  src/cli/user.rs
Labels: cli

feat(cli): add user last-logins command
  src/cli/user.rs
Labels: cli

feat(cli): add user update command
  src/cli/user.rs
Labels: cli

fix(cli): correct header for user last-logins output
  src/cli/user.rs
Labels: cli

style(cli): fix rustfmt issue in user_last_logins
  src/cli/user.rs
Labels: cli

feat(cli): add user profile-update command
  src/cli/user.rs
Labels: cli

refactor(cli): move user-profile sub-commands to own profile command
  src/cli/main.rs
  src/cli/user.rs
Labels: cli

feat(cli): add password change command
  src/cli/main.rs
  src/cli/user.rs
Labels: cli

feat(cli): add password reset command
  src/cli/user.rs
Labels: cli

feat(lib): add crate internal page_get_updated_at function
  gql/query/page/page_get_updated_at.graphql
  src/lib/lib.rs
  src/lib/page.rs
Labels: lib

feat(lib): add crate internal page_get_minimal function
  gql/query/page/page_get_minimal.graphql
  src/lib/lib.rs
  src/lib/page.rs
Labels: lib

refactor(lib): make new functions public
  src/lib/lib.rs
  src/lib/page.rs
Labels: lib

feat(fuse): add page module with PageCache
  src/fuse/main.rs
  src/fuse/page.rs
Labels: fuse

feat(fuse): add page_cache field to Fs struct
  src/fuse/main.rs
  src/fuse/page.rs
Labels: fuse

refactor(fuse): rename PageCache::update to refetch
  src/fuse/page.rs
Labels: fuse

feat(fuse): use PageCache::get and update_content in Fs
  src/fuse/main.rs
  src/fuse/page.rs
Labels: fuse

style(fuse): fix rustfmt issues in fuse
  src/fuse/main.rs
  src/fuse/page.rs
Labels: fuse

docs(lib): revise docstrings of new library functions
  src/lib/lib.rs
Labels: lib

feat(lib): derive Clone for all public enums and structs
  src/lib/analytics.rs
  src/lib/asset.rs
  src/lib/authentication.rs
  src/lib/comment.rs
  src/lib/common.rs
  src/lib/contribute.rs
  src/lib/group.rs
  src/lib/localization.rs
  src/lib/logging.rs
  src/lib/mail.rs
  src/lib/navigation.rs
  src/lib/page.rs
  src/lib/rendering.rs
  src/lib/search.rs
  src/lib/site.rs
  src/lib/storage.rs
  src/lib/system.rs
  src/lib/theming.rs
  src/lib/user.rs
Labels: lib

refactor(lib): revise authentication::login to check succeeded
  src/lib/authentication.rs
Labels: lib

fix(lib): revise Api::new to return Result<(), UserError> from login
  src/lib/lib.rs
Labels: lib

docs(lib): update example with unwrap of Api::new
  src/lib/lib.rs
Labels: lib

docs(readme): update usage example with unwrap of Api::new
  README.md
Labels: none

refactor(fuse): handle error response from Api::new
  src/fuse/main.rs
Labels: fuse

refactor(cli): handle error response from Api::new
  src/cli/main.rs
Labels: cli

style(lib): fix missing , to make rustfmt happy
  src/lib/lib.rs
Labels: lib

style(lib): remove duplicate Clone derive on PageMinimal
  src/lib/page.rs
Labels: lib

test(lib): handle error response from Api::new
  tests/common.rs
Labels: tests

style(tests): add line break to make rustfmt happy
  tests/common.rs
Labels: tests

docs(lib): add unwrap to Api::new call in page_get docstring
  src/lib/lib.rs
Labels: lib

feat(cli): derive Debug for parser and all (sub)commands
  src/cli/analytics.rs
  src/cli/asset.rs
  src/cli/comment.rs
  src/cli/contribute.rs
  src/cli/group.rs
  src/cli/localization.rs
  src/cli/logger.rs
  src/cli/main.rs
  src/cli/page.rs
  src/cli/system.rs
  src/cli/theming.rs
  src/cli/user.rs
Labels: cli

feat(cli): add authentication-strategy list command
  src/cli/authentication.rs
  src/cli/main.rs
Labels: cli

feat(cli): add password authentication as alternative to api key
  src/cli/main.rs
Labels: cli

.github/labeler.yml:

"lib":
  - src/lib/*

"cli":
  - src/cli/*

"fuse":
  - src/fuse/*

"tests":
  - tests/*

"dependency":
  - Cargo.*

"ci":
  - .github/**/*
